<% provide(:title, t("home")) %>
<div class="container marketing">
  <div class="row">
    <div class="col-lg-4">
      <h2><%= t("smart") %></h2>
      <p><a class="btn btn-default" href="#" role="button"><%= t("details") %></a></p>
    </div>
    <div class="col-lg-4">
      <h2><%= t("test") %></h2>
      <p><a class="btn btn-default" href="#" role="button"><%= t("details") %></a></p>
    </div>
      <div class="col-lg-4">
        <h2><%= t("style") %></h2>
        <p><a class="btn btn-default" href="#" role="button"><%= t("details") %></a></p>
      </div>
  </div>
</div>
