<% provide(:title, t("home")) %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-3">
      <section class="user_info">
        <h1>
          <%= gravatar_for current_user %>
        </h1>
        <h2><%= current_user.name %></h2>
      </section>
      <section class="stats">
        <%= render "shared/stats" %>
      </section>
    </aside>
    <aside class="col-md-6">
      <div>
        <%= link_to t("word"), words_path, class: "btn btn-primary" %>
        <%= link_to t("lesson"), categories_path, class: "btn btn-primary" %>
      </div>
      <p><%= t("activities") %></p>
      <hr class="line">
      <%= render "shared/feed" %>
    </aside>
  </div>
<% else %>
  <div class="container marketing">
    <div class="row">
      <div class="col-lg-4">
        <h2><%= t("smart") %></h2>
        <p><a class="btn btn-default" href="#" role="button"><%= t("details") %></a></p>
      </div>
      <div class="col-lg-4">
        <h2><%= t("test") %></h2>
        <p><a class="btn btn-default" href="#" role="button"><%= t("details") %></a></p>
      </div>
        <div class="col-lg-4">
          <h2><%= t("style") %></h2>
          <p><a class="btn btn-default" href="#" role="button"><%= t("details") %></a></p>
        </div>
    </div>
  </div>
<% end %>
