<% provide(:title, t("lesson")) %>

<%= form_for :finish, url: finishs_path do |f| %>

  <%= hidden_field_tag :category_id, @category.id %>
  <%= hidden_field_tag :lesson_id, @lesson.id %>

  <% @words.each do |word| %>
    <%= word.content + t("question") %>
    <% word.answers.each do |answer| %>
      <div class="radio">
        <label>
          <%= f.radio_button word.id.to_s, answer.mean  %>
          <%= f.label answer.mean %>
        </label>
      </div>
    <% end %>
    <br>
  <% end %>
  <%= f.submit t("answer"), class: "btn btn-primary" %>
<% end %>
