<% provide(:title, t("edit-title")) %>
<h1><%= t("update-category") %></h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [:admin, @category] do |f| %>
      <%= render "shared/error_messages", object: f.object %>

      <%= f.label :name %>
      <%= f.text_field :name, class: "form-control" %>

      <%= f.submit t("save"), class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
