<header>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to t("app"), root_path, id: "logo", class: "navbar-brand" %>
        </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><%= link_to t("home"), root_path %></li>
          <li><%= link_to t("page"), "#" %></li> 
          <li><%= link_to t("help"), help_path %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to t("login"), "#", class: "glyphicon glyphicon-log-in" %></li>
          <li><%= link_to t("signup"), "#", class: "glyphicon glyphicon-user" %></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
